<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webmention Endpoint</title>

    <style>
    body {
        font-size: 1em;
        line-height: 1.5;
    }
    h1 {
        font-weight: 400;
    }
    samp, code {
        font-family: monospace, monospace; /* hackity hack! */
    }

    body {
        max-width: 35em;
        margin: 0 auto;
    }

    p strong {
        font-family: Helvetica Neue, Arial, sans-serif;
    }
    </style>
</head>
<body>
    <h1>Well, hello there!</h1>
    <p><strong>You have reached this website’s <a href="https://indiewebcamp.com/Webmention">Webmention</a>&nbsp;endpoint.</strong></p> 
    <p>This is a URL that is prepared to receive <samp>POST</samp> requests telling it
    about content published elsewhere (or here) that mentions (by way of hyperlink)
    content that resides on this&nbsp;site.</p>
    <p>The request should include a <code>source</code>-parameter, telling this 
    site which (full) URL is mentioning it, as well as a <code>target</code>-parameter,
    containg the full URL of the piece of content on this site that it is&nbsp;mentioning.</p>
    <p>You can’t really do much on this page
    in your browser, but it was lovely of you to stop&nbsp;by.</p>
</body>
</html>
<head>
    
</head>

<body>
    
</body>